.footer {
    background: #EEEEEE;

    .footer__logo img {
        padding-bottom: 16px;
    }

    .contaier__inner {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 428px minmax(30px, 91px)minmax(150px, 1fr) 292px 242px;


        .footer__copirater p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #292929;

            padding-left: 15px;
            padding-bottom: 73px;
        }

        .footer__lists {
            grid-column-start: 3;

            display: grid;
            grid-template-columns: 182px 117px;
            grid-template-rows: repeat(4, 26px);
            column-gap: 89px;
            row-gap: 16px;

            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            padding-top: 9px;

            & a {
                color: #000000;

            }
        }

        .footer__contacts {
            grid-column-start: 5;

        }

        .footer__contacts {


            .footer__contacts-tel {
                padding: 16px 27px;
            }

            .footer__contacts-adress {
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                color: #292929;
                padding-left: 35px;
                padding-top: 32px;
                position: relative;

                &::after {
                    content: "";
                    background-image: url("/images/contacts/icon-map.svg");
                    width: 16px;
                    height: 21px;
                    top: 31px;
                    left: 8px;
                    position: absolute;

                }
            }
        }


    }
}

@media (max-width:1165px) {
    .contaier__inner {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 428px minmax(30px, 91px)minmax(150px, 1fr) 292px 242px;
    }

    .footer .contaier__inner {
        grid-template-rows: 1fr 140px;
        row-gap: 40px;
    }

    .footer .contaier__inner .footer__contacts {
        grid-row-start: 2;
        grid-column-start: 1;
        padding-left: 15px;
    }

    .footer .contaier__inner .footer__copirater p {
        padding-bottom: 0px;
        max-width: 428px;
    }
}

@media (max-width:885px) {
    .footer .contaier__inner {
        grid-template-rows: 1fr 65px 167px;
        row-gap: 40px;
        padding-bottom: 30px;
        grid-template-columns: 1fr;
    }

    .footer .contaier__inner .footer__lists {
        grid-row-start: 3;
        grid-column-start: 1;
        padding-left: 15px;
    }

}

@media (max-width:450px) {
    .footer .contaier__inner .footer__lists {
        grid-column-start: 1;

        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 26px);

    }

    .footer .contaier__inner .footer__copirater p {
        max-width: 305px;
    }

    .button_phone {
        padding: 16px 50px 16px 70px;

        &::before {
            right: 220px;
        }
    }

    .footer .contaier__inner .footer__contacts .footer__contacts-adress {
        max-width: 239px;
    }

    .footer .contaier__inner {
        grid-template-rows: 1fr 65px 300px;
    }
}