.help {
    box-sizing: border-box;
    padding-top: 140px;
    padding-bottom: 278px;

    position: relative;






}


.help__grid {
    display: grid;
    grid-template-columns: 58px 549px 118px auto;
    position: relative;

    &::after {
        content: "";
        width: 1426px;
        height: 851px;
        background-image: url("/images/help/background-help.png");
        background-repeat: no-repeat;
        top: -74px;
        left: 0px;
        position: absolute;
        z-index: -1;

    }


}

.help__background {
    position: absolute;

}

.help__forms {
    box-sizing: border-box;
    grid-column: 2/3;
    max-width: 549px;
    height: 525px;
    border-radius: 22px;
    background-color: #fff;
    padding-left: 51px;
    padding-top: 45px;
    position: relative;

    &::after {
        content: "";
        background-image: url("/images/help/background-car.png");
        position: absolute;
        width: 1151px;
        height: 417px;
        top: 425px;
        left: -37%;
        margin: 0 auto;
    }

}

.help__lists {
    grid-column: 4/5;
}

.help__forms-title {
    padding-bottom: 24px;
}

.help__forms-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    max-width: 330px;
    padding-bottom: 36px;
}

.help__forms-input {
    box-sizing: border-box;
    width: 450px;
    height: 72px;
    border: 1px solid #C9C9C9;
    border-radius: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-left: 24px;
}

.help__forms-link {
    border: none;
    margin-top: 16px;
    padding: 26px 36px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0px 12px 60px rgba(250, 0, 44, 0.4);

}

.help__lists {
    list-style: none;
    display: grid;
    grid-template-columns: 310px 260px;
    grid-template-rows: repeat(4, 128px);
    column-gap: 80px;
    row-gap: 45px;
    align-items: end;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

.help__list {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 60px;
        top: -64px;
        left: 14px;
    }

    &.help__list_svg-like::after {
        background-image: url("/images/help/icon/like.svg");
    }


    &.help__list_svg-photo::after {
        background-image: url("/images/help/icon/photo.svg");
    }

    &.help__list_svg-dollar::after {
        background-image: url("/images/help/icon/dollar.svg");
    }

    &.help__list_svg-search::after {
        background-image: url("/images/help/icon/search.svg");
    }

    &.help__list_svg-file::after {
        background-image: url("/images/help/icon/file.svg");
    }

    &.help__list_svg-tax::after {
        background-image: url("/images/help/icon/tax.svg");
    }

    &.help__list_svg-garant::after {
        background-image: url("/images/help/icon/garant.svg");
    }

    &.help__list_svg-rubles::after {
        background-image: url("/images/help/icon/rubles.svg");
    }
}


@media (max-width: 1450px) {

    .help__grid {
        grid-template-columns: 58px 549px 50px 1fr !important;

        &::after {
            width: 1300px;
        }
    }

    .help__lists {
        column-gap: 40px;
        font-size: 16px;

    }

}

@media (max-width: 1325px) {}



@media (max-width: 1325px) {
    .help__grid {
        display: flex;
        flex-direction: column-reverse;

        &::after {
            display: none;
        }
    }

    .help__forms {
        margin: 0 auto;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.12);

        &::after {
            content: "";
            background-image: url("/images/help/background-car-small.png");
            position: absolute;
            width: 885px;
            height: 417px;
            top: 425px;
            left: -27%;
            margin: 0 auto;
        }
    }

    .help__lists {
        align-items: start;
        justify-content: center;
        row-gap: 100px;
        font-size: 18px;
    }

    .help__list::before {
        content: "";
        display: block;
        width: 337px;
        height: 184px;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.12);
        border-radius: 16px;
        position: absolute;
        top: -80px;
        left: -17px;

    }
}



@media (max-width: 965px) {
    .help__forms {
        &::after {
            width: 750px;
            height: 417px;
            top: 425px;
            left: -20%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 820px) {
    .help__lists {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 100px);
        max-width: 499px;
        margin: 0 auto;

    }

    .help__list {
        display: block;

        &::before {
            width: 581px;
            width: 536px;
            height: 152px;
        }
    }

    .help__forms {
        &::after {
            width: 650px;
            height: 417px;
            top: 425px;
            left: -20%;
        }
    }


}

@media (max-width: 594px) {
    .help {
        padding-bottom: 367px;
    }
    .help__forms {
        margin: 0 auto;
        height: 172px;
        padding-left: 16px;
        box-shadow: none;
        border-radius: none;
        background-color: none;

        &::after {
            background-image: url("/images/help/car-small.png");
            background-repeat: no-repeat;
            width: 320px;
            height: 124px;
            top: 385px;
    left: -15px;
            z-index: -1;
        }
    }

    .help__list::before {
        width: 329px;
        height: 176px;
    }

    .help__lists {
        max-width: 301px;
        row-gap: 90px;
    }

    .help__forms-title {
        max-width: 305px;

        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
    }

    .help__forms-subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
    }

    .help__forms-input {
        width: 320px;
    }

    .help__forms-link {
        padding: 26px 53px;
    }


}

@media (max-width: 570px) {
    .help__forms-input {
        width: 280px;
    }
    .help__forms-link {
        padding: 26px 34px;
    }
}